.navbar {
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  z-index: 10;
  width: 100%;
  transition: background-color 0.3s ease;
  position: fixed;
}
.bg-blue {
  background-color: #212ea0; 
}
.logo {
  width: 180px;
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar ul li {
  color: white;
  list-style: none;
  margin-right: 40px;
  font-size: 16px;
  font-weight: 400;
}
