.programs{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 80px auto;
}
.program img{
    border-radius: 10px;
    width: 100%;
    display: block;
}

.program{
    flex-basis: 31%;
    position: relative;
}
.caption{
    background-color: rgba(0, 15, 152, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    padding-top: 70%;
    transition: 0.4s;
    opacity: 0;
}
.caption img{
    width: 60px;
    margin-bottom: 10px;
}
.program:hover .caption{
    opacity: 1;
    padding-top: 0;
}